{{outlet}}

{{#each model as |booking|}}
  <ul>
    <li>{{booking.client}}</li>
    <li>{{booking.checkIn}}</li>
    <li>{{booking.checkOut}}</li>
    <li>{{booking.days}}</li>
    <li>${{booking.price}}</li>
  </ul>
{{/each}}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Check In</h4>{{calendar-1 id="calendarCheckIn" value=startDate}}
    </div>
    <div class="col-md-6">
      <h4>Check Out</h4> {{calendar-1 id="calendarCheckOut" value=endDate}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button {{action "reserve"}}>Reserve</button>
    </div>
  </div>
</div>
