{{#each model as |cabin|}}
	<h1>{{cabin.name}}</h1>
	<ul>
		<li>Number Of Rooms {{cabin.rooms}}</li>
		<li>Number Of Bathrooms {{cabin.bathrooms}}</li>
		<li>Number Of Beds {{cabin.beds}}</li>
		<li>Number Of Persons {{cabin.capacity}}</li>
		<li>Number Of Commun areas {{cabin.livingrooms}}</li>
	</ul>
{{/each}}
